.category-title-header {
  .category-title-contents h1 {
    display: inline;
    font-size: 23px;
    line-height: 32px;
  }

  .category-title-description {
    font-size: 12px;

    p {
       text-align: center;
    }
  }
}
