/****************************
* Laruta Footer
* ( taken from MSBA footer )
 **************************/
.laruta-footer {
  background-color: #262626;
  color: $gray-light;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: 768px) {
    padding: 5rem 0;
  }

  @media (min-width: 992px) {
    padding: 8rem 0;
  }

  .container {
    border-bottom: .8rem solid #3D3D3D;
    padding-bottom: 30px;

    .logo {
      margin-bottom: 30px;

      img {
        &.img-fluid {
          height: auto;
          max-width: 225px;

          @media (min-width: 768px) {
            max-width: 175px;
          }
          @media (min-width: 992px){
            max-width: 100%;
          }
        }
      }
    }

    h5 {
      color: $gray-dark;
      letter-spacing: 1px;
      margin-bottom: 10px;
    }

    ul {
      &.unstyled-list {
        list-style-type: none;
        margin: 0;
        padding: 0;

        a.nav-link {
          display: block;
          //padding: 0.5rem 1rem;
          padding: 0;
          margin: 0 0 5px;

          li {
            display: inline-block;

            color: $gray-light;

            font-family: 'ProximaNova';
            font-size: 13px;
            line-height: normal;
            font-style: normal;
            font-weight: 500;
            text-decoration: underline;
            transition: all 0.35s ease-in-out;
          }

          &:hover {
            li {
              text-decoration: none;
            }
          }
        }

        &.legal-links {
          margin: 30px 0;

          @media (max-width: 992px) {
            max-width: 280px;
          }

          a.nav-link {
            margin-right: 15px;
            display: inline-block;
          }
        }

      }
    }

    //
    #eventCleCatalogBtn {
      position: relative;
      display: inline-block;

      color: $gray-light;
      font-family: 'ProximaNova';
      font-size: 13px;
      font-weight: 600;

      line-height: normal;
      letter-spacing: 0.05em;

      padding: 7px 17.5px;
      margin: 12.5px 0 15px;

      border: 1px solid $gray-light;
      border-radius: 4px;
      transition: all 0.35s ease-in-out;

      &:hover {
        color: $gray-darker;
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }

    address {
      margin: 0;
      color: $gray-light;

      strong,
      span {
        display: block;
        font-size: 13px;
        line-height: 18px;
      }
      strong {}
      span {
        a {
          &.phone-link {
            display: inline-block;
            float: left;
            color: $gray-light;
            transition: all 0.35s ease-in-out;

            &:first-of-type {}
            &:last-of-type {
              padding-left: 10px;
              margin-left: 10px;
              border-left: 1px solid $white;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    // social media icons
    .social-media-icons {
      > ul {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        list-style: none;
        padding-left: 0;

        li {
          flex: 1;
          padding: 0 5px;

          a {
            border: none;
            span {
              background-color: $primary-color;
              color: $gray-darker;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              padding: 15px;
              transition: all 0.35s ease-in-out;
            }

            &:hover {
              span {
                background-color: white;
              }
            }
          }
        }
      }
    }

    .w-100 {
      width: 100%;

      &.my-4 {
        margin: 15px 0;
      }
    }
  }

  //@media (min-width: 992px){}
  //@media (max-width: 992px){}
}
