.category-title-header {
  padding-top: 60px;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;

  .category-title-contents {
    //max-width: 500px;
    padding: 0 15px;

    i {
      margin-right: .25em;
      font-size: 1.5em;
    }
    h1 {
      text-transform: capitalize;
      display: inline;      
    }
  }
}
.category-header {
 #main-outlet {
     padding-top: 20px;
 }
}

/****************************
* Category Title Header (Category Page)
* Displays icon, header text, and more
 ****************************************/
.category-title-header {
  //background-color: #3E3E3D !important;
  padding: 30px 0;

  .category-title-contents {
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h1 {
      display: inline;
      font-size: 28px;
      line-height: 32px;
    }

    > div {
      margin: 0;
    }

    .category-title-description {

      p {
        color: $white;
      }
    }
  }
}
